<div class="container">
<div class="row">
<div class="mt-3">
    <h2>Your Reservations</h2>
    <div class="group_card">
      <% @bookings.each do |booking| %>
      <div class="card_booking mt-4">
        <% if booking.event_space.photo.key != nil %>
          <%= cl_image_tag booking.event_space.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
          <%=image_tag booking.event_space.image_url %>
          <% end %>
          <div class="card_booking-infos">
              <h4><%= booking.event_space.name %></h4>
              <p><%= booking.event_space.city %></p>
              <p> From <%= booking.start_date %> To: <%= booking.end_date %></p>
              <%= link_to("More information", booking_path(booking), class: "btn-success") %>
          </div>
        </div>
      <% end %>
    </div>
<br>
    <h2>Reservations for your listed Venues</h2>
      <div class="group_card">
      <% @my_rents.each do |space| %>
        <% space.bookings.each do |rent| %>
          <div class="card_booking2">
            <br>
            <ul>
              <p>Start Date <%= rent.start_date %></p>
              <p>End Date <%= rent.end_date  %></p>
              <p>Number of Hours <%= rent.qty_hour %></p>
              <p>Total Cost <%= rent.total_cost %> USD</p>
              <p>User <%= rent.user.email %></p>
            </ul>
            <%= link_to("More information", booking_path(rent), class: "btn-success") %>
            <br>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
</div>
</div>
</div>
