<div class="container">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hayesmansion.com/site/assets/files/4852/hayes_mansion_wedding.1800x1100.jpeg)">
      Weddings
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/60766dbd0e15184546d38ae1/1618374153347-KOKXXJGW21REJJEJWE84/GM5B0302.JPG?format=1000w)">
      Birthdays
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://americanpavilion.com/wp-content/uploads/2018/04/Corporate-Event.jpg)">
      Corporate Events
    </div>
  </div>


  <br>
  <h2>Look at our Venues</h2>
  <br>
  <div class="lookcity">
    <%= form_tag event_spaces_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Look for the city, the name or the description." %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>


  <% @event_spaces.each do |e|%>
    <br>
      <ol>
        <div class="card">
          <% if e.photo.key != nil %>
          <%= cl_image_tag e.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
          <%=image_tag e.image_url %>
          <% end %>
          <div class="card-infos">
            <h5><%= e.name.titleize %></h5>
            <p><%= e.city.titleize %></p>
            <p><%= e.description.capitalize %></p>
            <p>Price Per Hour: <%= e.price_per_hour %> USD </p>
            <%= link_to "More Details", event_space_path(e), class: "btn-success" %>
          </div>
        </div>
      </ol>
    <br>
  <% end %>
</div>
