<div class="container">
  <h1>Available Event Spaces</h1>
  <br>
  <% @event_spaces.each do |e|%>
    <br>
    <p>Event Space Name: <%= e.name.capitalize %></p>
    <p>Address: <%= e.adress %></p>
    <p>City: <%= e.city %></p>
    <p>Description: <%= e.description %></p>
    <p>Price Per Hour: <%= e.price_per_hour %> USD</p>
    <p>Minimum Of Time: <%= e.min_hour %></p>
    <%= link_to "More Details", event_space_path(e), class: "btn btn-primary" %>

    <br>
  <% end %>

  <div class=“cards”>
    <h2>My Event Spaces for Rent</h2>
      <br>
        <% @my_spaces.each do |space| %>
          <p>Name: <%= space.name %></p>
          <p>Address: <%= space.adress  %></p>
          <p>Price per hour: <%= space.price_per_hour %> USD</p>
          <%= link_to("Make changes to your space", event_space_path(space), class: "btn btn-primary") %>
        <% end %>

  </div>
