<h1>Search results</h1>

<% if @event_spaces.any? %>
  <ul>
    <% @event_spaces.each do |e| %>
      <li>
        <p>Event Space Name: <%= e.name.titleize %></p>
        <p>Address: <%= e.adress.titleize %></p>
        <p>City: <%= e.city.titleize %></p>
        <p>Description: <%= e.description.capitalize %></p>
        <p>Price Per Hour: <%= e.price_per_hour %></p>
        <p>Minimum Of Time: <%= e.min_hour %></p>
      </li>
      <%= link_to "Booking", new_event_space_booking_path(e) %>
    <% end %>
  </ul>
<% else %>
  <p>No se encontraron espacios de eventos para la ciudad especificada.</p>
<% end %>
<%# !!! %>
